%h1 Listing cars

= text_area_tag :content, '', rows: 30, style: 'width:400px'

= form_for Car.new, remote: true do |f|
  = f.text_field :make
  %br
  = f.submit 'Chat'
%hr

%hr
#test
%hr
:javascript
  $(document).ready(function(){
     var source = new EventSource("/stream");
     source.addEventListener('message', function(e){
        $('#content').append(e.data + "\n");      
        $('#car_make').val('');
     });
  }); 

