%h1 Listing cars


= link_to 'New Car', new_car_path

= form_tag messaging_path, :method => 'get' do 
  = text_field_tag :message, params[:message] 
  = submit_tag "Post Message"
#test
:javascript
  jQuery(document).ready(function(){
     var source = new EventSource("/stream");
     source.addEventListener('update', function(e){
        $('#test').html($('#test').html() + e);      
     });
  }); 

